
.title {
  text-align: center;
  align-items: center;
  font-style: italic;
  font-family: Conv_Starjout;
}

.inputs {
  text-align: center;
  font-family: Conv_jedi;
  font-size: 18px;
}

.translated {
  text-align: center;
  font-family: Conv_Aurek-Besh;
  font-size: 14px;
}

.fields {
  margin: 0 4px;
}
